@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Forum&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'iA Quattro';
  font-stretch: 25% 150%;
  font-weight: 400 900;
  font-display: swap;
  src: url(/fonts/iAWriterQuattroV.ttf) format('truetype-variations');
}

@font-face {
  font-family: 'iA Quattro';
  font-stretch: 25% 150%;
  font-weight: 400 900;
  font-display: swap;
  font-style: italic;
  src: url(/fonts/iAWriterQuattroV-Italic.ttf) format('truetype-variations');
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(/fonts/inter/Inter-roman.var.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(/fonts/inter/Inter-roman.var.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url(/fonts/inter/Inter-italic.var.woff2) format('woff2');
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/fira-code/fira-code-v9-latin-regular.woff2) format('woff2'),
    url(/fonts/fira-code/fira-code-v9-latin-regular.woff) format('woff');
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(/fonts/fira-code/fira-code-v9-latin-500.woff2) format('woff2'),
    url(/fonts/fira-code/fira-code-v9-latin-500.woff) format('woff');
}
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(/fonts/fira-code/fira-code-v9-latin-700.woff2) format('woff2'),
    url(/fonts/fira-code/fira-code-v9-latin-700.woff) format('woff');
}

@font-face {
  font-family: 'ET Book';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/et-book-display-italic-old-style-figures.woff) format('woff');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/JetBrainsMono-Regular.woff2) format('woff2');
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1px;
  line-height: 1.3em;
}

.forum-regular {
  font-family: "Forum", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
}

.eb-garamond-regular {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.eb-garamond-italic {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}
